# ---------------------------------------- #
#                  Required                #
# ---------------------------------------- #

# Discord Bot token
DISCORD_TOKEN=""

# production / staging / development
AERO_ENV="development"

# MongoDB credentials
MONGO_URI="mongodb://"

# ---------------------------------------- #
#          Optional integrations           #
# ---------------------------------------- #

# Token for ravy.org/api
# RAVY_TOKEN=""

# web.dev/measure
# GOOGLE_TOKEN=""

# PerspectiveAI
# PERSPECTIVE_TOKEN=""

# Token for the Wolfram|Alpha API
# WOLFRAM_TOKEN=""

# Phisherman API key from phisherman.gg. User is the user ID of the one who registered the token.
# PHISHERMAN_TOKEN=""
# PHISHERMAN_USER="102102717165506560"

# for error tracing (TOKEN == DSN)
# SENTRY_TOKEN=""

# song lookup
# SPOTIFY_USER=""
# SPOTIFY_SECRET=""
# GENIUS_TOKEN=""

# post ping to statuspage.io
# STATUS_TOKEN=""
# STATUS_ID=""
# STATUS_METRIC_WSPING=""

# ---------------------------------------- #
#               deployment                 #
# ---------------------------------------- #

# random string of characters, SHOULD ONLY BE EMPTY IN DEV
# REMOTE_TOKEN=""

# running in kubernetes with shard sync through aether
# AETHER_URL="ws://aether:4224"
# PROBES_API_PORT=4000

# exposes /metrics for prometheus
# METRICS_ENABLED=true

# reverse proxy using ngrok
# NGROK_TOKEN=""

# reverse proxy using pgrok (requires ./.pgrok)
# PGROK_ENABLED=true