# ---------------------------------------- #
#                  Required                #
# ---------------------------------------- #

# MongoDB credentials
MONGO_USER=
MONGO_PASS=
MONGO_HOST=
MONGO_PORT=
# OR
MONGO_URI=

# Discord Bot token
DISCORD_TOKEN=

# Token for ravy.org/api
RAVY_TOKEN=

# ---------------------------------------- #
#          Optional integrations           #
# ---------------------------------------- #

# Imgur token (https://imgur.com)
IMGUR_TOKEN=

# Whether to disable exposing /metrics for 
METRICS_DISABLED="false"

# Phisherman API key from phisherman.gg. User is the user ID of the one who registered the token.
PHISHERMAN_TOKEN=
PHISHERMAN_USER=

# Ngrok token for custom subdomains
NGROK_TOKEN=

# random string of characters used for authenticating remote access
REMOTE_TOKEN=

# Token for the Wolfram|Alpha API
WOLFRAM_TOKEN=

# Sentry DSN, for error tracing
SENTRY_TOKEN=

# production / staging / development
AERO_ENV="development"

# ---------------------------------------- #
#               don't touch                #
# ---------------------------------------- #

# Only set to true when running kubernetes. Boots a single shard & enables health checks.
KUBE_ENABLED="false"