node_modules
.vscode
config.json
*.log
.idea
yarn.lock
.env*
*.env
test*
*.DS_STORE

# ethans weird yarn stuff 
.pnp.*
.yarn
.yarnrc.yml
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions